[submodule "contracts/lib/gsn"]
	path = contracts/lib/gsn
	url = https://github.com/opengsn/gsn
[submodule "contracts/lib/ds-test"]
	path = contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
